<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/calculator.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/baseInterna.css') }}">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        {% block miCSS %}{% endblock %}
        <title>{% block titulo %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Barra de navegacion -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Inicio</a>
                </li>
                <li class="nav-item" id="catalogueLI">
                        <a class="nav-link" href="/catalogue">Catalogo</a>
                </li>
                {% if current_user.usertype == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Usuarios</a>
                    </li>
                {% endif %}
                <form class="d-flex" action="{{ url_for('search') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="form-control me-2" type="search" placeholder="Ingrese texto para buscar" aria-label="Search" name="query" required>
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </form>
                </ul>
                <div class="navbar-nav">
                    <a class="nav-item btn" id="cartIcon" data-bs-toggle="modal" data-bs-target="#calculatorModal">
                        <i class="bi bi-calculator" style="color: white;"></i>
                    </a>
                    <a class="nav-item btn" id="cartIcon" href="{{ url_for('view_cart') }}">
                        <i class="bi bi-cart" style="color: white;"></i>
                    </a>
                <!-- Dropdown para el logout -->
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.fullname }}
                        <i class="bi bi-person-circle" style="color: white; margin-left: 5px"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                    </ul>
                </div>                
            </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul id="flash-messages">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% block cuerpo %}{% endblock %}

    <!-- Calculator Modal -->
    <div class="modal fade" id="calculatorModal" tabindex="-1" aria-labelledby="calculatorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="calculatorModalLabel">Calculator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="calculator">
                        <input type="text" class="display form-control" id="display" readonly>
                        <button type="button" class="btn btn-danger" data-value="+">+</button>
                        <button type="button" class="btn btn-danger" data-value="-">-</button>
                        <button type="button" class="btn btn-danger" data-value="*">*</button>
                        <button type="button" class="btn btn-danger" data-value="/">/</button>
                        <button type="button" class="btn btn-primary" data-value="1">1</button>
                        <button type="button" class="btn btn-primary" data-value="2">2</button>
                        <button type="button" class="btn btn-primary" data-value="3">3</button>
                        <button type="button" class="btn btn-primary" data-value="4">4</button>
                        <button type="button" class="btn btn-primary" data-value="5">5</button>
                        <button type="button" class="btn btn-primary" data-value="6">6</button>
                        <button type="button" class="btn btn-primary" data-value="7">7</button>
                        <button type="button" class="btn btn-primary" data-value="8">8</button>
                        <button type="button" class="btn btn-primary" data-value="9">9</button>
                        <button type="button" class="btn btn-primary" data-value="0">0</button>
                        <button type="button" class="btn btn-success" data-value="=">=</button>
                        <button type="button" class="btn btn-warning" data-value="C">C</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Footer -->
        <footer class="footer mt-auto bg-dark text-white pt-4 pb-2">
            <div class="container text-center">
                <p>Almacenes de colchones © 2024</p>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/profile.php?id=100064155750266" class="text-light">Contactanos</a></li>
                </ul>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        // Set a timeout to remove flash messages after 5 seconds
        setTimeout(function() {
            var flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.style.transition = 'opacity 0.5s ease-out';
                flashMessages.style.opacity = '0';
                setTimeout(function() {
                    flashMessages.remove();
                }, 500);  // Allow time for the fade-out transition
            }
        }, 3000);  // 5 seconds


        document.addEventListener('DOMContentLoaded', function () {
            const display = document.getElementById('display');
            const buttons = document.querySelectorAll('.calculator button');
            let currentInput = '';
            let firstValue = '';
            let secondValue = '';
            let operator = '';
    
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    const value = this.getAttribute('data-value');
    
                    if (value >= '0' && value <= '9') {
                        currentInput += value;
                        display.value = currentInput;
                    } else if (value === 'C') {
                        currentInput = '';
                        firstValue = '';
                        secondValue = '';
                        operator = '';
                        display.value = '';
                    } else if (value === '=') {
                        if (firstValue && operator && currentInput) {
                            secondValue = currentInput;
                            display.value = calculate(firstValue, operator, secondValue);
                            currentInput = display.value;
                            firstValue = '';
                            secondValue = '';
                            operator = '';
                        }
                    } else {
                        if (currentInput) {
                            firstValue = currentInput;
                            operator = value;
                            currentInput = '';
                        }
                    }
                });
            });
    
            function calculate(first, operator, second) {
                const num1 = parseFloat(first);
                const num2 = parseFloat(second);
                switch (operator) {
                    case '+':
                        return num1 + num2;
                    case '-':
                        return num1 - num2;
                    case '*':
                        return num1 * num2;
                    case '/':
                        return num1 / num2;
                    default:
                        return 0;
                }
            }
        });
    </script>
    </body>
</html>